<!DOCTYPE html>
<html>
   <head>
     <title>Hestia - List of Conditions</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <body>
      
      
<nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Hestia</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="home.html">Home</a></li>
              <li><a href="Conditions%20List.html">Conditions</a></li>
              <li><a href="#">About</a></li>
              <li><a href="profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            </ul>
          </div>
        </nav>
    
      <h2 style="margin-left: 200px">List of Conditions</h2>
       <div class="bg1 container-fluid basic-container top-buffer">
            <ul style="list-style: none" class="list-text text-white about-section">
                <h2 style="margin-left: 200px">Conditions</h2>
                <li><a href="adhd.html">Attention Deficit/Hyperactivity Disorder (ADHD/ADD)</a></li>
                <li><a href="autism.html">Autism</a></li>
                <li><a href="ocd.html">Obsessive Compulsive Disorder</a></li>
                <li><a href="#">Stuttering</a></li>
                <li><a href="#">Tourette's Disorder</a></li>
                <li> <a href="">To Learn More Visit our Q&A Page</a></li>
            </ul>
      </div>
        

     
      
  </body>
</html>
    