<!DOCTYPE html>
<html lang="en">
    
    
    
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Hestia</a></li>
              <li><a href="#">Conditions</a></li>
              <li><a href="#">About</a></li>
                <li><a href="#">Q &amp A</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            </ul>
          </div>
        </nav> 
        
        <div class="front-page text-center bg1 container-fluid">
            <div class="row-lg-12 title-buffer">
                <div class="col-lg-12">
                    <h1>hestia</h1>
                </div>

                <div class="center-block">
                   <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <a href="search.html">
                          <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                          </button>
                            </a>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>

        
        <div class="full-height">
        <div class="container-fluid basic-container text-center bg2 top-buffer-big">
            <h3>Common Conditions</h3>
            
            <div class="row inner-container">
                <div class="col-sm-3 ">
                    <ul style="list-style: none" class="list-text">
                        <li><a href="#">Autism Spectrum Disorders</a></li>
                        <li><a href="#">Attachment Disorder</a></li>
                        <li><a href="#">Attention Deficit/Hyperactivity Disorder</a></li>
                        <li><a href="#">Autism</a></li>
                        <li><a href="#">Conduct Disorder</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-3">
                    <ul style="list-style: none">
                        <li><a href="#">Disorder of Written Expression</a></li>
                        <li><a href="#">Disruptive Mood Dysregulation Disorder</a></li>
                        <li><a href="#">Encopresis</a></li>
                        <li><a href="#">Enuresis</a></li>
                        <li><a href="#">Expressive Language Disorder</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-3">
                    <ul style="list-style: none">
                        <li><a href="#">Mathematics Disorder</a></li>
                        <li><a href="#">Intellectual Disability</a></li>
                        <li><a href="#">Oppositional Defiant Disorder</a></li>
                        <li><a href="#">Reading Disorder</a></li>
                        <li><a href="#">Rumination Disorder</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-3">
                    <ul style="list-style: none">
                        <li><a href="#">Selective Mutism</a></li>
                        <li><a href="#">Separation Anxiety Disorder</a></li>
                        <li><a href="#">Social Communication Disorder</a></li>
                        <li><a href="#">Stuttering</a></li>
                        <li><a href="#">Tourette's Disorder</a></li>
                    </ul>
                </div>
                
            </div>
            
        </div>
        
        <div class="container-fluid basic-container text-center bg1 top-buffer-big">
            <h3>Hear From the Community</h3>
            <div class="inner-container">
                <p> <b> How should I help my child reduce the number of times she showers? </b>
                    My daughter is 14 and she usually showers five or six times a day for up to an hour at a time. This often makes
                    her late to school because she is unable to leave the shower in the morning, and the whole family has to wait for
                    her because my husband and I carpool to work after we drop her off. [...] What should I do? Am I being an enabler?
                    How should I help her while respecting her needs? </p>
            </div>
        </div>
        
        <div class="container-fluid basic-container text-center bg2 top-buffer-big">
            <h3>About</h3>
            <div class="text-center about-section">
                <p> Parents are in the best position to create a healthy environment for their children to learn and grow in. Unfortunately,
                    when it comes to childhood mental and behavioral conditions, there is still a lot of misunderstanding,
                    lack of resources, and feeling of helplessness among parents. The purpose of our website is to integrate and make
                    resources more accessible by providing educational videos and online support groups for these childhood conditions.
                    We’re hoping to create a go-to resource for parents who need a starting point for their research
                    or who may not have the means to travel to support groups and seek professional help. </p>
            </div>
        </div>
            
                    
        <footer class="text-center bg1 footer top-buffer-big">
            <p class="top-buffer">Created by Ronnie, Alisa, Chris, Ruperto, and Gaurav for Eduhacks 2017</p>
        </footer>
        </div>

    </body>
    
    
</html>