<!DOCTYPE html>
<html>
   <head>
     <title>Hestia - OCD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head> 
    

       
       <body>
      
      
<nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Hestia</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="home.html">Home</a></li>
              <li><a href="Conditions%20List.html">Conditions</a></li>
              <li><a href="#">About</a></li>
              <li><a href="profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            </ul>
          </div>
      </nav> 
    
            <h2 class="black-text"align="center" style="width: 1">Obsessive-Compulsive Disorder</h2>
           <div class="container-fluid basic-container text-center bg1 top-buffer">
        <div class="col-md-4">  
            <p align="left">Obsessive-compulsive disorder (OCD) is an anxiety disorder characterized by recurrent and disturbing thoughts (called obsessions) and/or repetitive, ritualized behaviors that the person feels driven to perform (called compulsions). Obsessions can also take the form of intrusive images or unwanted impulses. The majority of people with OCD have both obsessions and compulsions, but a minority (about 20 percent) have obsessions alone or compulsions alone (about 10 percent).

The person with OCD usually tries to actively dismiss the obsessions or neutralize them by engaging in compulsions or avoiding situations that trigger them. In most cases, compulsions serve to alleviate anxiety. However, it is not uncommon for the compulsions themselves to cause anxiety — especially when they become very demanding.
            </p>
         </div>
        <iframe class="col-md-8" width="560" height="315" src="https://www.youtube.com/embed/cLtvzesdh1I" frameborder="0" allowfullscreen></iframe>
     </div>
           
    <h2 class="black-text" style="margin-left: 50px">Modules and Resources</h2>

    <div class="container-fluid top-buffer bg2">
            <img class="col-md-4"src="pic1.jpg" alt="Video1" style="width:300px;height:200px;">
            <div class="=col-md-8">
                <h2><a href="#">Helping or Enabling</a></h2>
                <p>Family accommodation is
    when a family member participates or assists in the rituals of their loved one with OCD. While they help reduce their anxiety in the short-term, they prolong the vicious cycle of OCD in the long-term.</p>
            </div>
        </div>  

        <div class="container-fluid top-buffer bg2">
            <img class="col-md-4"src="pic2.jpg" alt="Video1" style="width:300px;height:200px;">
            <div class="=col-md-8">
                <h2><a href="#">Exposure and Response Prevention</a></h2>
                <p>Exposure and Response Prevention (ERP) is the only evidence-based therapy for OCD. Exposure is the process of gradually exposing yourself to feared situations. Response prevention is the voluntary blocking of any type of compulsive behavior that would normally decrease the anxiety it causes.</p>
            </div>
        </div>  
       
    <div class="bg1 white-text container-fluid basic-container top-buffer">
    <h2>Obsessive-Compulsive Disorder </h2>
    <ul class="white-text">
        <h4>Obsessions as defined by exhibiting both (1) and (2):</h4>
        <li>Recurrent and persistent thoughts, urges, or images that are experienced, at some time during the disturbance, as intrusive and unwanted, and that in most individuals causes marked anxiety or distress (they are not simply excessive worries about real-life problems)</li>
        <li>The individual attempts to ignore or suppress such thoughts, urges, or images, or to neutralize them with some other thought or action (i.e., by performing a compulsion).</li>
        <h4>Compulsions as defined by exhibiting both (1) and (2):</h4>
        <li>Repetitive behaviors (e.g., hand washing, ordering, checking) or mental acts (e.g., praying, counting, repeating words silently) that the individual feels driven to perform in response to an obsession or according to rules that must be applied rigidly.</li>
        <li>The behaviors or mental acts are aimed at preventing or reducing anxiety or distress, or preventing some dreaded event or situation; however, these behaviors or mental acts are not connected in a realistic way with what they are designed to neutralize or prevent, or are clearly excessive.</li>
       </ul>
    </div>
           
    <a href="#" style="margin-left: 150px">To Learn More Visit our Q&A Page</a>
     
     
       </body>
</html>